@import "mixins";

.post-comment {
  display: grid;
  padding: 1.6vw;
  background-color: $white;
  border-radius: 8px;
  grid-template-columns: 40px auto 100px;
  grid-gap: 16px;
  @include responsive(mobile) {
    grid-template-rows: auto 12.5vw;
  }
  @include responsive(tablet) {
    grid-template-rows: auto 10vw;
  }
}

.user-image {
  grid-column: 1/2;
  width: 40px;
  @include responsive(tablet) {
    grid-row: 2/3;
  }
  @include responsive(mobile) {
    grid-row: 2/3;
  }
}

.input {
  resize: none;
  background-color: $white;
  grid-column: 2/3;
  grid-row: 1/2;
  height: 95px;
  border-radius: 8px;
  @include responsive(tablet) {
    grid-column: 1/4;
  }
  @include responsive(mobile) {
    grid-column: 1/4;
  }
}

.send {
  grid-column: 3/4;
  height: 48px;
  color: $white;
  background-color: $moderateBlue;
  border: none;
  outline: none;
  border-radius: 6px;

  @include responsive(tablet) {
    grid-row: 2/3;
  }
  @include responsive(mobile) {
    grid-row: 2/3;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    opacity: 0.75;
  }
}
