.comment {
  width: 100%;
  padding: 1.6vw;
  background-color: white;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 42px minmax(120px, 12fr) minmax(70px, 5fr);
  grid-template-rows: 2.8vw auto;
  grid-gap: 1.5vw;
  align-items: center;
  margin-bottom: 18px;
}

.comment.reply {
  margin-left: 3.4vw;
}

@media only screen and (max-width: 900px) {
  .comment.reply {
    margin-left: 5vw;
  }
}

@media only screen and (max-width: 480px) {
  .comment.reply {
    margin-left: 4.7vw;
  }
}

@media only screen and (max-width: 900px) {
  .comment {
    padding: 3vw;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    grid-template-rows: 9vw auto 9.5vw;
    grid-gap: 2vw;
  }
}

@media only screen and (max-width: 480px) {
  .comment {
    padding: 3.7vw;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    grid-template-rows: 10vw auto 10.5vw;
    grid-gap: 2.5vw;
  }
}

.content {
  grid-column: 2/4;
  grid-row: 2/3;
  color: #67727e;
  background-color: white;
  line-height: 1.5;
}

@media only screen and (max-width: 900px) {
  .content {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

@media only screen and (max-width: 480px) {
  .content {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

.vote-button {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 42px;
  grid-column: 1/2;
  overflow: hidden;
  grid-row: 1/3;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 12px;
}

@media only screen and (max-width: 900px) {
  .vote-button {
    flex-direction: row;
    grid-column: 1/2;
    grid-row: 3/4;
    height: 38px;
    width: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .vote-button {
    flex-direction: row;
    grid-column: 1/2;
    grid-row: 3/4;
    height: 38px;
    width: 100px;
  }
}

.vote-button .vote-img {
  cursor: pointer;
  width: 11px;
  color: #c3c4ef;
}

.vote-button .vote-img:hover, .vote-button .vote-img:active, .vote-button .vote-img:focus {
  color: #5457b6;
}

.vote-button .vote-img.minus {
  height: 3px;
}

.vote-button .vote-img.plus {
  height: 11px;
}

.vote-button .vote-count {
  font-size: 16px;
  color: #5457b6;
  font-weight: 700;
}

.edit-button {
  cursor: pointer;
  color: #5457b6;
  margin-left: 15px;
  background-color: white;
}

.edit-button:hover, .edit-button:focus, .edit-button::after {
  opacity: 0.5;
}

.delete-button {
  color: #ed6468;
  background-color: white;
  cursor: pointer;
}

.delete-button:hover, .delete-button:focus, .delete-button::after {
  opacity: 0.5;
}

.reply-button,
.edit-and-delete {
  justify-self: end;
  cursor: pointer;
  background-color: white;
  color: #5457b6;
  font-weight: 700;
  grid-column: 3/4;
  overflow: hidden;
  grid-row: 1/2;
}

@media only screen and (max-width: 900px) {
  .reply-button,
  .edit-and-delete {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

@media only screen and (max-width: 480px) {
  .reply-button,
  .edit-and-delete {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

.reply-button:hover, .reply-button:focus, .reply-button::after {
  opacity: 0.5;
}

.reply-to {
  color: #5457b6;
  background-color: white;
  font-weight: bold;
}

.reply-line {
  width: 0.2rem;
  background-color: #eaecf1;
  margin-left: 3vw;
}

@media only screen and (max-width: 900px) {
  .reply-line {
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .reply-line {
    margin-left: 0;
  }
}

.update-button {
  grid-row: 3/4;
  grid-column: 3/4;
  height: 48px;
  color: white;
  background-color: #5457b6;
  border: none;
  outline: none;
  border-radius: 6px;
  width: 100px;
  justify-self: end;
}

.update-button:hover, .update-button:active, .update-button:focus {
  opacity: 0.75;
}

.info {
  display: flex;
  background-color: white;
  grid-column: 2/3;
  grid-row: 1/2;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .info {
    grid-column: 1/4;
    grid-row: 1/2;
  }
}

@media only screen and (max-width: 480px) {
  .info {
    grid-column: 1/4;
    grid-row: 1/2;
  }
}

.info * {
  background-color: white;
  margin-right: 12px;
}

.info .is-you {
  margin: 0;
  color: white;
  background-color: #5457b6;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 12px;
  padding: 2px 6px;
}

.info .user-image {
  width: 34px;
}

.info .username {
  color: #324152;
  font-weight: 700;
}

.info .time-uploaded {
  color: #67727e;
}

@media only screen and (max-width: 900px) {
  .edit-mode {
    grid-template-rows: 9vw auto 9.5vw 50px;
  }
  .edit-mode .update-button {
    grid-row: 4/5;
  }
}

@media only screen and (max-width: 480px) {
  .edit-mode {
    grid-template-rows: 10vw auto 10.5vw 50px;
  }
  .edit-mode .update-button {
    grid-row: 4/5;
  }
}
/*# sourceMappingURL=comment.css.map */